* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {

    display: flex;
    justify-content: space-between;
    .cart {
        width: 30%;
        height: 500px;
        margin-top: 50px;
        border: 3px solid black;
          text-align: center;
          overflow: scroll;
        input {
            overflow: hidden;
            width: 70%;
            padding: 5px 5px;
            border: none;
            box-shadow: inset 1px 1px 7px 0px;
            border-radius: 14px;
            margin-top: 10px;
            outline: none;
        }
    }
}